<aside>
    <div class="aside_container">
        <div class="aside_top">
            <div class="top_bar">
                <ul>
                    <li class="icon_arrow">
                        <span>
                            <img src="src/images/icons/arrow.svg">
                        </span>
                        <span>
                            <img src="src/images/icons/mobile.svg">
                        </span>
                    </li>
                    <li class="icon_font">
                        <span>Elements</span>
                        <span>
                            <img src="src/images/icons/arrow2.svg">
                        </span>
                    </li>
                    <li class="icon_wrong">
                        <span>
                            <img src="src/images/icons/navigator.svg">
                        </span>
                        <span>
                            <img src="src/images/icons/wrong.svg">
                        </span>
                    </li>
                </ul>
            </div>
            <div class="inside_bar">
                <div class="control_margin"></div>
            </div>
            <div class="bottom_bar">
                <ul>
                    <li>html</li>
                    <li>body</li>
                    <li>div#coolest.cooler</li>
                </ul>
            </div>
        </div> 
        <div class="aside_bottom">
            <div class="bottom_top">
                <ul>
                    <li>Style</li>
                    <li>Computed</li>
                    <li></li>
                </ul>
            </div>
            <div class="bottom_inside">
                <ul>
                    <li>Filter</li>
                    <li>:hov</li>
                    <li>.cls</li>
                    <li><span></span></li>
                </ul>
            </div>
            <div class="bottom_content">
                <div class="connect_me">
                    <ul>
                        <li>
                            <a href="mailto:wanghan9423@outlook.com"><img src="src/images/icons/microsoftoutlook.svg" alt=""></a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=942341345&site=qq&menu=yes" target="_blank"><img src="src/images/icons/qq.svg" alt=""></a>
                        </li>
                        <li>
                            <a href="https://github.com/sewerlabour" target="_blank"><img src="src/images/icons/github.svg" alt=""></a>
                        </li>
                        <li>
                            <a href="mailto:whanghan9423@gmail.com"><img src="src/images/icons/gmail.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="my_logo">
                <div class="margin"><span>margin</span>
                    <div class="border"><span>border</span>
                        <div class="padding">
                            <img src="src/images/logo.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>