<div class="cover">
    <div class="mobile_mylogo">
        <div>
            <img src="src/images/logo.jpg">
        </div>
        <section>
            <h3>下水道的包工头</h3>
        </section>
    </div>
    <div class="mobile_list">
        <ul>
            <li><a href="mailto:wanghan9423@outlook.com">outlook</a></li>
            <li><a href="mailto:whanghan9423@gmail.com">gmail</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=942341345&site=qq&menu=yes" target="_blank">QQ</a></li>
            <li><a href="https://github.com/sewerlabour">gayhub</a></li>
        </ul>
    </div>
    <div class="test">
        <ul>
            <li><a href="#">blog插件</a></li>
            <li><a href="#">下水道聊天室(敬请期待)</a></li>
        </ul>
    </div>
</div>