<header>
    <div class="menu"></div>
    <div class="header_left">
        <ul>    
            <li class="the_tags"><label class="icons_tags" for="tags"></label><span id="tags">Tags</span></li>
            <li class="the_share"><label class="icons_share" for="share"></label><span id="share">Share</span></li>
            <li class="the_cate"><label class="icons_cate" for="cate"></label><span id="cate">Categories</span></li>
        </ul>
    </div>
    <div class="header_right">
        <div class="search">
            <input type="search" name="search" id="input_search">
            <input type="submit" id="search_btn" value="">
        </div>
        <div class="user">
            <span></span>  
        </div>
    </div>
</header>