<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../src/images/favicon-20180807105016823.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../src/css/fontload.css">
    <link rel="stylesheet" href="../src/css/contentText.css">
    <script src="../libs/jquery.js"></script>
    <script src="../libs/flexible.js"></script>
    <title>Document</title>
</head>
<body>
    <%include ./components/header.html%>
    <div class="article_content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <%include ./components/footer.html%>
    <script src="../src/js/contentText.js"></script>
</body>
</html>