* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

main {
  color: #2a2a2a;
  font-size: .16rem;
  width: 79%;
  float: left;
  box-sizing: border-box;
  overflow: hidden; }
  main::after {
    content: "";
    clear: both;
    display: block; }
  @media screen and (max-width: 640px) {
    main {
      width: 100%;
      font-size: .7rem; } }
  main .container {
    width: 110%;
    overflow-y: auto; }
    main .container header {
      box-sizing: border-box;
      width: 100%;
      height: 35px;
      background-color: #ebebeb;
      border: 1px solid rgba(153, 153, 153, 0.7); }
      main .container header #menu {
        display: none; }
      main .container header .header_left {
        width: 45%;
        height: 100%;
        cursor: default;
        display: inline-block; }
        main .container header .header_left ul {
          width: 100%;
          height: 100%;
          position: relative; }
          main .container header .header_left ul li {
            float: left;
            display: inline-block;
            width: 33.3333333333%;
            height: 100%;
            font-size: .13rem;
            text-align: center;
            position: relative;
            user-select: none; }
            main .container header .header_left ul li:hover {
              color: #807c7c; }
            main .container header .header_left ul li:active {
              position: relative;
              top: 2px; }
            main .container header .header_left ul li .icons_tags {
              display: inline-block;
              background: url(../images/icons/tags.svg);
              width: 25px;
              height: 25px;
              background-size: cover;
              margin-top: 3px; }
            main .container header .header_left ul li .icons_cate {
              display: inline-block;
              background: url(../images/icons/Categories.svg);
              width: 25px;
              height: 25px;
              background-size: cover;
              margin-top: 3px; }
            main .container header .header_left ul li .icons_share {
              display: inline-block;
              background: url(../images/icons/share.svg);
              width: 25px;
              height: 25px;
              background-size: cover;
              margin-top: 3px; }
      main .container header .header_right {
        float: right;
        margin-right: 10%;
        width: 280px;
        height: 35px;
        position: relative; }
        main .container header .header_right::after {
          content: "";
          clear: both;
          display: block; }
        main .container header .header_right .search {
          position: relative;
          width: 190px;
          height: 100%;
          display: inline-block; }
          main .container header .header_right .search #input_search {
            position: absolute;
            right: 0;
            width: 25px;
            height: 25px;
            z-index: 1;
            border-radius: 10px;
            border: none;
            top: 50%;
            margin-top: -12.5px;
            padding: 5px;
            outline: none;
            background-color: #ebebeb; }
          main .container header .header_right .search #search_btn {
            top: 50%;
            margin-top: -12.5px;
            z-index: 2;
            position: absolute;
            width: 25px;
            height: 25px;
            right: 0;
            outline: none;
            border: none;
            background: url("../images/icons/search.svg");
            background-size: cover;
            border-radius: 10px;
            color: #fff;
            -webkit-transition: transform 0.6s;
            -o-transition: transform 0.6s;
            -ms-transition: transform 0.6s;
            -moz-transition: transform 0.6s;
            transition: transform 0.6s; }
            main .container header .header_right .search #search_btn:active {
              -webkit-transform: scale(0.6);
              -ms-transform: scale(0.6);
              -o-transform: scale(0.6);
              -moz-transform: scale(0.6);
              transform: scale(0.6); }
        main .container header .header_right .user {
          width: 25px;
          height: 25px;
          float: right;
          text-align: center;
          line-height: 26px;
          position: absolute;
          top: 50%;
          right: 5px;
          margin-top: -14px;
          color: #fff;
          border-radius: 10px;
          margin-right: 30px;
          cursor: default;
          -webkit-transition: transform 0.6s;
          -o-transition: transform 0.6s;
          -ms-transition: transform 0.6s;
          -moz-transition: transform 0.6s;
          transition: transform 0.6s; }
          main .container header .header_right .user span {
            width: 100%;
            height: 100%;
            background: url("../images/icons/login.svg");
            background-size: cover;
            display: inline-block; }
          main .container header .header_right .user:active {
            -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
            -o-transform: scale(0.6);
            -moz-transform: scale(0.6);
            transform: scale(0.6); }
    main .container .content {
      overflow: hidden; }
      @media screen and (min-width: 640px) {
        main .container .content .adjust_content {
          width: 100%;
          height: 100%;
          position: relative; }
          main .container .content .adjust_content .page:nth-child(1) {
            margin-top: 0px; }
          main .container .content .adjust_content .page {
            margin-top: -20px; }
          main .container .content .adjust_content .type1 {
            width: 100%;
            box-sizing: border-box;
            position: relative; }
            main .container .content .adjust_content .type1 a .card {
              position: absolute; }
              main .container .content .adjust_content .type1 a .card .wrapper {
                box-shadow: 0 0 10px #242424;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                -webkit-transition: all 0.6s;
                -o-transition: all 0.6s;
                -ms-transition: all 0.6s;
                -moz-transition: all 0.6s;
                transition: all 0.6s; }
                main .container .content .adjust_content .type1 a .card .wrapper:hover {
                  position: relative;
                  box-shadow: -4px 10px 7px #242424;
                  -webkit-transform: translate(0px, -5px);
                  -ms-transform: translate(0px, -5px);
                  -o-transform: translate(0px, -5px);
                  -moz-transform: translate(0px, -5px);
                  transform: translate(0px, -5px); }
                  main .container .content .adjust_content .type1 a .card .wrapper:hover img {
                    -webkit-filter: blur(6px);
                    -moz-filter: blur(6px);
                    -ms-filter: blur(6px);
                    -o-filter: blur(6px);
                    filter: blur(6px); }
                main .container .content .adjust_content .type1 a .card .wrapper .imageView {
                  width: 100%;
                  height: 100%;
                  border: none;
                  overflow: hidden;
                  border-radius: 10px; }
                  main .container .content .adjust_content .type1 a .card .wrapper .imageView img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%; }
                main .container .content .adjust_content .type1 a .card .wrapper .textView {
                  position: absolute;
                  width: 100%;
                  height: 116px;
                  top: 0;
                  color: #000;
                  font-size: 16px;
                  padding: 10px;
                  overflow: hidden; }
                main .container .content .adjust_content .type1 a .card .wrapper section {
                  border-radius: 0 0 10px 10px;
                  width: 100%;
                  height: 70px;
                  position: absolute;
                  bottom: 0;
                  background: #ebebeb93;
                  text-align: center;
                  line-height: 70px; }
                  main .container .content .adjust_content .type1 a .card .wrapper section h3 {
                    width: 100%;
                    height: 70px;
                    color: #242424;
                    font-size: 18px;
                    overflow: hidden; }
            main .container .content .adjust_content .type1 .div1 {
              width: 350px;
              height: 350px;
              top: 20px;
              left: 20px; }
            main .container .content .adjust_content .type1 .div2 {
              width: 310px;
              height: 190px;
              top: 20px;
              left: 390px; }
            main .container .content .adjust_content .type1 .div3 {
              width: 310px;
              height: 190px;
              top: 230px;
              left: 390px; }
            main .container .content .adjust_content .type1 .div4 {
              width: 430px;
              height: 280px;
              top: 20px;
              left: 720px; }
            main .container .content .adjust_content .type1 .div5 {
              width: 350px;
              height: 240px;
              top: 390px;
              left: 20px; }
            main .container .content .adjust_content .type1 .div6 {
              width: 310px;
              height: 190px;
              top: 440px;
              left: 390px; }
            main .container .content .adjust_content .type1 .div7 {
              width: 430px;
              height: 310px;
              top: 320px;
              left: 720px; }
          main .container .content .adjust_content .type2 {
            width: 100%;
            box-sizing: border-box;
            position: relative; }
            main .container .content .adjust_content .type2 a .card {
              position: absolute; }
              main .container .content .adjust_content .type2 a .card .wrapper {
                box-shadow: 0 0 10px #242424;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                -webkit-transition: all 0.6s;
                -o-transition: all 0.6s;
                -ms-transition: all 0.6s;
                -moz-transition: all 0.6s;
                transition: all 0.6s; }
                main .container .content .adjust_content .type2 a .card .wrapper:hover {
                  position: relative;
                  box-shadow: -4px 10px 7px #242424;
                  -webkit-transform: translate(0px, -5px);
                  -ms-transform: translate(0px, -5px);
                  -o-transform: translate(0px, -5px);
                  -moz-transform: translate(0px, -5px);
                  transform: translate(0px, -5px); }
                  main .container .content .adjust_content .type2 a .card .wrapper:hover img {
                    -webkit-filter: blur(6px);
                    -moz-filter: blur(6px);
                    -ms-filter: blur(6px);
                    -o-filter: blur(6px);
                    filter: blur(6px); }
                main .container .content .adjust_content .type2 a .card .wrapper .imageView {
                  width: 100%;
                  height: 100%;
                  border: none;
                  overflow: hidden;
                  border-radius: 10px; }
                  main .container .content .adjust_content .type2 a .card .wrapper .imageView img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%; }
                main .container .content .adjust_content .type2 a .card .wrapper .textView {
                  position: absolute;
                  width: 100%;
                  height: 116px;
                  top: 0;
                  color: #000;
                  font-size: 16px;
                  padding: 10px;
                  overflow: hidden; }
                main .container .content .adjust_content .type2 a .card .wrapper section {
                  border-radius: 0 0 10px 10px;
                  width: 100%;
                  height: 70px;
                  position: absolute;
                  bottom: 0;
                  background: #ebebeb93;
                  text-align: center;
                  line-height: 70px; }
                  main .container .content .adjust_content .type2 a .card .wrapper section h3 {
                    width: 100%;
                    height: 70px;
                    color: #242424;
                    font-size: 18px;
                    overflow: hidden; }
            main .container .content .adjust_content .type2 .div1 {
              width: 310px;
              height: 190px;
              top: 20px;
              left: 20px; }
            main .container .content .adjust_content .type2 .div2 {
              width: 430px;
              height: 290px;
              top: 20px;
              left: 350px; }
            main .container .content .adjust_content .type2 .div3 {
              width: 350px;
              height: 290px;
              top: 20px;
              left: 800px; }
            main .container .content .adjust_content .type2 .div4 {
              width: 310px;
              height: 190px;
              top: 230px;
              left: 20px; }
            main .container .content .adjust_content .type2 .div5 {
              width: 310px;
              height: 190px;
              top: 440px;
              left: 20px; }
            main .container .content .adjust_content .type2 .div6 {
              width: 350px;
              height: 300px;
              top: 330px;
              left: 350px; }
            main .container .content .adjust_content .type2 .div7 {
              width: 430px;
              height: 300px;
              top: 330px;
              left: 720px; } }
      @media screen and (max-width: 640px) {
        main .container .content .adjust_content {
          width: 100%;
          height: 120%;
          position: relative; }
          main .container .content .adjust_content .page:nth-child(1) {
            position: relative;
            margin-top: 20px; }
          main .container .content .adjust_content .page {
            width: 100%;
            height: 100%;
            position: relative;
            margin-top: -20px; }
            main .container .content .adjust_content .page a .div1 .wrapper {
              -webkit-animation: insert_left 0.6s ease;
              -ms-animation: insert_left 0.6s ease;
              -moz-animation: insert_left 0.6s ease;
              -o-animation: insert_left 0.6s ease; }
            main .container .content .adjust_content .page a .div2 .wrapper {
              -webkit-animation: insert_right 0.6s ease;
              -ms-animation: insert_right 0.6s ease;
              -moz-animation: insert_right 0.6s ease;
              -o-animation: insert_right 0.6s ease; }
            main .container .content .adjust_content .page a .div3 .wrapper {
              -webkit-animation: insert_left 0.6s ease;
              -ms-animation: insert_left 0.6s ease;
              -moz-animation: insert_left 0.6s ease;
              -o-animation: insert_left 0.6s ease; }
            main .container .content .adjust_content .page a .div4 .wrapper {
              -webkit-animation: insert_right 0.6s ease;
              -ms-animation: insert_right 0.6s ease;
              -moz-animation: insert_right 0.6s ease;
              -o-animation: insert_right 0.6s ease; }
            main .container .content .adjust_content .page a .div5 .wrapper {
              -webkit-animation: insert_left 0.6s ease;
              -ms-animation: insert_left 0.6s ease;
              -moz-animation: insert_left 0.6s ease;
              -o-animation: insert_left 0.6s ease; }
            main .container .content .adjust_content .page a .div7 .wrapper {
              -webkit-animation: insert_right 0.6s ease;
              -ms-animation: insert_right 0.6s ease;
              -moz-animation: insert_right 0.6s ease;
              -o-animation: insert_right 0.6s ease; }
            main .container .content .adjust_content .page a .card {
              position: relative;
              width: 310px;
              height: 190px;
              margin: 20px auto; }
              main .container .content .adjust_content .page a .card .wrapper {
                box-shadow: 0 0 10px #242424;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                -webkit-transition: all 0.6s;
                -o-transition: all 0.6s;
                -ms-transition: all 0.6s;
                -moz-transition: all 0.6s;
                transition: all 0.6s; }
                main .container .content .adjust_content .page a .card .wrapper:hover {
                  position: relative;
                  box-shadow: -4px 10px 7px #242424;
                  -webkit-transform: translate(0px, -5px);
                  -ms-transform: translate(0px, -5px);
                  -o-transform: translate(0px, -5px);
                  -moz-transform: translate(0px, -5px);
                  transform: translate(0px, -5px); }
                  main .container .content .adjust_content .page a .card .wrapper:hover img {
                    -webkit-filter: blur(6px);
                    -moz-filter: blur(6px);
                    -ms-filter: blur(6px);
                    -o-filter: blur(6px);
                    filter: blur(6px); }
                main .container .content .adjust_content .page a .card .wrapper .imageView {
                  width: 100%;
                  height: 100%;
                  border: none;
                  overflow: hidden;
                  border-radius: 10px; }
                  main .container .content .adjust_content .page a .card .wrapper .imageView img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%; }
                main .container .content .adjust_content .page a .card .wrapper .textView {
                  position: absolute;
                  width: 100%;
                  height: 116px;
                  top: 0;
                  color: #000;
                  font-size: 16px;
                  padding: 10px;
                  overflow: hidden; }
                main .container .content .adjust_content .page a .card .wrapper section {
                  border-radius: 0 0 10px 10px;
                  width: 100%;
                  height: 70px;
                  position: absolute;
                  bottom: 0;
                  background: #ebebeb93;
                  text-align: center;
                  line-height: 70px; }
                  main .container .content .adjust_content .page a .card .wrapper section h3 {
                    width: 100%;
                    height: 70px;
                    color: #242424;
                    font-size: 18px;
                    overflow: hidden; } }
@keyframes insert_left {
  from {
    transform: translateX(-640px); }
  to {
    transform: translateX(0px); } }
@keyframes insert_right {
  from {
    transform: translateX(640px); }
  to {
    transform: translateX(0px); } }
    main .container footer {
      width: 100%;
      height: 100px;
      background-color: #ebebeb;
      position: relative;
      border-radius: 5px;
      bottom: 0; }
      main .container footer div {
        height: 100%;
        position: relative; }
        main .container footer div section {
          width: 200px;
          height: 50px;
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -100px;
          margin-top: -25px; }
          main .container footer div section p {
            text-align: center; }
  main .mixFunc {
    z-index: 11;
    display: none;
    border-radius: 10px;
    background-color: #fff;
    width: 600px;
    height: 400px;
    animation: mixFunc_out 0.7s ease;
    -webkit-animation: mixFunc_out 0.7s ease;
    -moz-animation: mixFunc_out 0.7s ease;
    -ms-animation: mixFunc_out 0.7s ease;
    -o-animation: mixFunc_out 0.7s ease;
    box-shadow: 0 0 10px #242424;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px; }
@keyframes mixFunc_out {
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -3000px; }
  50% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px; }
  75% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -190px; }
  100% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px; } }
aside {
  width: 20%;
  right: -5px;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  user-select: none;
  -webkit-transition: box-shadow, right 0.6s;
  -o-transition: box-shadow, right 0.6s;
  -ms-transition: box-shadow, right 0.6s;
  -moz-transition: box-shadow, right 0.6s;
  transition: box-shadow, right 0.6s; }
  @media screen and (max-width: 640px) {
    aside {
      display: none; } }
  aside:hover {
    box-shadow: 0 1px 5px rgba(26, 26, 26, 0.5);
    right: -10px; }
  aside .aside_container {
    width: 100%;
    height: 100%; }
    aside .aside_container .aside_top {
      width: 100%;
      height: 40%;
      border-bottom: 1px solid #a5a5a5;
      position: relative; }
      aside .aside_container .aside_top .top_bar {
        width: 100%;
        height: 35px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.7);
        background-color: #ebebeb; }
        aside .aside_container .aside_top .top_bar ul {
          position: relative;
          height: 100%; }
          aside .aside_container .aside_top .top_bar ul li {
            display: inline-block;
            float: left; }
          aside .aside_container .aside_top .top_bar ul .icon_arrow {
            width: 25%;
            height: 100%;
            border-left: 1px solid #999; }
            aside .aside_container .aside_top .top_bar ul .icon_arrow span {
              line-height: 3;
              margin-left: 0.055rem; }
              aside .aside_container .aside_top .top_bar ul .icon_arrow span img {
                width: 20px;
                height: 20px; }
          aside .aside_container .aside_top .top_bar ul .icon_font {
            width: 50%;
            height: 100%;
            border-left: 1px solid #999;
            color: #313131; }
            aside .aside_container .aside_top .top_bar ul .icon_font span:nth-child(1) {
              margin-left: 10px;
              line-height: 35px; }
            aside .aside_container .aside_top .top_bar ul .icon_font span:nth-child(2) {
              display: inline-block;
              width: 14px;
              height: 14px;
              margin-left: 15px;
              margin-top: -7px;
              position: absolute;
              top: 50%; }
              aside .aside_container .aside_top .top_bar ul .icon_font span:nth-child(2) img {
                width: 100%;
                height: 100%; }
          aside .aside_container .aside_top .top_bar ul .icon_wrong {
            width: 25%;
            height: 100%;
            border-left: 1px solid #999; }
            aside .aside_container .aside_top .top_bar ul .icon_wrong span {
              line-height: 2.8;
              margin-left: 0.055rem; }
              aside .aside_container .aside_top .top_bar ul .icon_wrong span img {
                width: 19px;
                height: 19px; }
      aside .aside_container .aside_top .inside_bar {
        font-size: 14px;
        overflow: hidden; }
        aside .aside_container .aside_top .inside_bar .control_margin {
          margin-left: 10px;
          margin-top: 5px; }
          aside .aside_container .aside_top .inside_bar .control_margin .icon {
            background: url(../images/icons/arrow3.png);
            background-size: cover;
            width: 14px;
            height: 14px;
            display: inline-block; }
          aside .aside_container .aside_top .inside_bar .control_margin .span_gray {
            color: #999; }
          aside .aside_container .aside_top .inside_bar .control_margin .span_violet {
            color: #7d2194; }
          aside .aside_container .aside_top .inside_bar .control_margin .span_green {
            color: #707070;
            font-size: 20px;
            font-weight: 600; }
      aside .aside_container .aside_top .bottom_bar {
        width: 100%;
        height: 25px;
        border-top: 1px solid #999;
        position: absolute;
        bottom: 0; }
        aside .aside_container .aside_top .bottom_bar ul {
          width: 100%;
          height: 100%;
          text-align: center; }
          aside .aside_container .aside_top .bottom_bar ul li {
            color: #313131;
            line-height: 25px;
            display: inline-block;
            float: left;
            width: 14.2857142857%;
            height: 100%; }
            aside .aside_container .aside_top .bottom_bar ul li::after {
              content: "";
              clear: both;
              display: block; }
          aside .aside_container .aside_top .bottom_bar ul li:nth-child(1) {
            margin-left: 14px; }
    aside .aside_container .aside_bottom {
      width: 100%;
      height: 60%;
      position: relative;
      top: 0; }
      aside .aside_container .aside_bottom .bottom_top {
        width: 100%;
        height: 35px;
        background-color: #ebebeb;
        border-bottom: 1px solid rgba(165, 165, 165, 0.746); }
        aside .aside_container .aside_bottom .bottom_top ul {
          position: relative;
          width: 100%;
          height: 100%; }
          aside .aside_container .aside_bottom .bottom_top ul li:nth-child(1) {
            width: 20%;
            height: 90%;
            border: 1px solid rgba(182, 181, 181, 0.911);
            background: #f8f8f8;
            position: absolute;
            bottom: 0;
            left: 10px;
            z-index: 1;
            text-align: center;
            line-height: 31.5px;
            color: #313131; }
            aside .aside_container .aside_bottom .bottom_top ul li:nth-child(1):hover {
              background: #ebebeb; }
          aside .aside_container .aside_bottom .bottom_top ul li:nth-child(2) {
            width: 80px;
            height: 90%;
            position: absolute;
            z-index: 1;
            text-align: center;
            line-height: 31.5px;
            left: 70px;
            bottom: 0;
            color: #313131; }
            aside .aside_container .aside_bottom .bottom_top ul li:nth-child(2):hover {
              background: #e0e0e0; }
          aside .aside_container .aside_bottom .bottom_top ul li:nth-child(3) {
            width: 14px;
            height: 14px;
            position: absolute;
            z-index: 1;
            background: url(../images/icons/arrow2.svg);
            background-size: cover;
            left: 170px;
            top: 50%;
            margin-top: -7px; }
      aside .aside_container .aside_bottom .bottom_inside {
        width: 100%;
        height: 35px;
        border-bottom: 1px solid rgba(165, 165, 165, 0.746);
        position: relative; }
        aside .aside_container .aside_bottom .bottom_inside ul {
          position: relative;
          width: 100%;
          height: 100%;
          width: 100%;
          height: 100%; }
          aside .aside_container .aside_bottom .bottom_inside ul li {
            float: left;
            text-align: center;
            line-height: 35px; }
            aside .aside_container .aside_bottom .bottom_inside ul li::after {
              content: "";
              clear: both;
              display: block; }
          aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(1) {
            width: 58%;
            height: 100%;
            text-align: left;
            padding-left: 10px;
            color: #a39f9f; }
            aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(1):hover {
              background: #e0e0e0; }
          aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(2) {
            width: 14%;
            height: 100%;
            color: #313131;
            font-weight: bold; }
            aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(2):hover {
              background: #e0e0e0; }
          aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(3) {
            width: 14%;
            height: 100%;
            font-weight: bold;
            color: #313131; }
            aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(3):hover {
              background: #e0e0e0; }
          aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(4) {
            width: 14%;
            height: 100%; }
            aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(4) span {
              display: inline-block;
              width: 14px;
              height: 14px;
              background: url(../images/icons/plus.svg);
              background-size: cover; }
            aside .aside_container .aside_bottom .bottom_inside ul li:nth-child(4):hover {
              background: #e0e0e0; }
      aside .aside_container .aside_bottom .bottom_content {
        width: 100%;
        height: 30%;
        border-bottom: 1px solid #999;
        position: relative;
        background: #ebebeb; }
        aside .aside_container .aside_bottom .bottom_content .connect_me {
          width: 240px;
          height: 60px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -120px;
          margin-top: -30px; }
          aside .aside_container .aside_bottom .bottom_content .connect_me ul {
            width: 100%;
            height: 100%; }
            aside .aside_container .aside_bottom .bottom_content .connect_me ul li {
              float: left;
              width: 23%;
              height: 100%;
              position: relative;
              background-color: #d4d4d4;
              margin-right: 4px;
              border-radius: 10px; }
              aside .aside_container .aside_bottom .bottom_content .connect_me ul li img {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -20px;
                margin-top: -20px;
                width: 40px;
                height: 40px;
                -webkit-transition: top 0.6s;
                -o-transition: top 0.6s;
                -ms-transition: top 0.6s;
                -moz-transition: top 0.6s;
                transition: top 0.6s; }
                aside .aside_container .aside_bottom .bottom_content .connect_me ul li img:active {
                  position: relative;
                  top: 0px; }
      aside .aside_container .aside_bottom .my_logo {
        width: 100%;
        height: 50%;
        position: relative;
        font-size: 12px; }
        aside .aside_container .aside_bottom .my_logo .margin {
          width: 220px;
          height: 160px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -110px;
          margin-top: -80px;
          border: 1.5px dashed #242424;
          z-index: 1; }
          aside .aside_container .aside_bottom .my_logo .margin:hover {
            background: #f8a723; }
          aside .aside_container .aside_bottom .my_logo .margin .border {
            width: 180px;
            height: 120px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -90px;
            margin-top: -60px;
            border: 1.5px solid #242424;
            z-index: 2;
            background: #fff; }
            aside .aside_container .aside_bottom .my_logo .margin .border:hover {
              background: #fac269; }
            aside .aside_container .aside_bottom .my_logo .margin .border .padding {
              width: 150px;
              height: 90px;
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -75px;
              margin-top: -45px;
              border: 1.5px dashed #242424; }
              aside .aside_container .aside_bottom .my_logo .margin .border .padding:hover {
                background: #dd9a2e; }
              aside .aside_container .aside_bottom .my_logo .margin .border .padding img {
                border: 1px solid #242424;
                width: 80px;
                height: 80px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -40px;
                margin-top: -40px; }

.darkMode {
  background-color: #1f1e1e;
  color: #fff; }

.light {
  background-color: #fff;
  color: #1f1e1e; }

.cover {
  display: none; }

.wrapper_login {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative; }
  .wrapper_login .returnStatus {
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    top: 60px; }
  .wrapper_login .wrapper_top {
    width: 100%;
    height: 50px; }
    .wrapper_login .wrapper_top ul {
      width: 100%;
      height: 100%;
      content: "";
      clear: both;
      display: block; }
      .wrapper_login .wrapper_top ul li {
        user-select: none;
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left;
        box-sizing: border-box;
        background-color: #ebebeb;
        text-align: center;
        line-height: 50px;
        font-size: 22px; }
        .wrapper_login .wrapper_top ul li:hover {
          background: #e6e6e6;
          font-size: 23px; }
      .wrapper_login .wrapper_top ul li:nth-child(1) {
        border-radius: 10px 0px 0px 0px; }
      .wrapper_login .wrapper_top ul li:nth-child(2) {
        border-radius: 0px 10px 0px 0px; }
  .wrapper_login .wrapper_log {
    position: relative;
    width: 100%;
    height: 350px; }
    .wrapper_login .wrapper_log #form {
      width: 100%;
      height: 350px; }
      .wrapper_login .wrapper_log #form .form_container {
        width: 390px;
        height: 250px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -230px;
        margin-top: -120px; }
        .wrapper_login .wrapper_log #form .form_container .inp {
          border: 1px solid #cccccc;
          border-radius: 2px;
          padding: 0 10px;
          width: 300px;
          height: 40px;
          font-size: 18px; }
        .wrapper_login .wrapper_log #form .form_container .btn {
          display: inline-block;
          box-sizing: border-box;
          border-radius: 2px;
          width: 80px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 16px;
          color: #fff;
          cursor: pointer;
          background: #43a4ff;
          position: absolute;
          left: 50%; }
          .wrapper_login .wrapper_log #form .form_container .btn:hover {
            opacity: 0.8; }
          .wrapper_login .wrapper_log #form .form_container .btn:active {
            position: relative;
            top: 2px; }
        .wrapper_login .wrapper_log #form .form_container #captcha {
          width: 300px;
          display: inline-block; }
          .wrapper_login .wrapper_log #form .form_container #captcha #wait {
            text-align: left;
            color: #666;
            margin: 0; }
        .wrapper_login .wrapper_log #form .form_container label {
          vertical-align: top;
          display: inline-block;
          width: 80px;
          text-align: right; }

/*# sourceMappingURL=index.css.map */
